<!DOCTYPE html>
<html>
<head data-th-fragment="head">
    <meta charset="UTF-8">
    <title>header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-th-href="@{/css/var.css}">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
</head>
<body>

<header id="page-header">
    <div class="fram-topbanner">
        <div class="button-03-s6">
            <div class="div2">
                <a data-th-href="@{/app/schedule/form1}">여행시작</a>
            </div>
        </div>
        <div class="button-03-s">
            <div class="div2">
                <a data-th-href="@{/board/list}">후기게시판</a>
            </div>
        </div>
        <div class="button-03-s5">
            <div class="div2"><a data-th-href="@{/user}">마이페이지인데 임시회원관리</a></div>
        </div>

        <div class="button-02-s3">
            <div class='login-state pos-right' data-th-if="${session.loginUser == null}">
                <div class="div"><a data-th-href="@{/auth/form}">로그인</a></div>
            </div>
            <div class='login-state pos-right' data-th-unless="${session.loginUser == null}">
                <div class="div"><a data-th-href="@{/auth/logout}">로그아웃</a></div>
            </div>
        </div>

        <div class="frame-427318169">
            <div class="div3">모두의 여행</div>
        </div>
    </div>
</header>
</body>
</html>
