<!DOCTYPE html>
<html lang="ko">
<head data-th-fragment="head">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>모두의 여행</title>
    <link data-th-href="@{/css/var.css}" rel="stylesheet">
    <link data-th-href="@{/css/style.css}" rel="stylesheet">
    <link data-th-href="@{/css/modal.css}" rel="stylesheet">
    <script data-th-src="@{/js/modal.js}" defer></script>
</head>
<body>
<header id="page-header">
    <div class="fram-topbanner">
        <div class="frame-427318169">
            <div class="div3">모두의 여행</div>
        </div>
        
        <div class="button-03-s6">
            <button class="div2" id="openModalBtn">여행시작</button>
        </div>
        <div class="button-03-s">
            <div class="div2">여행추천</div>
        </div>
        <div class="button-03-s2">
            <div class="div2">여행일정</div>
        </div>
        <div class="button-03-s3">
            <div class="div2">여행후기</div>
        </div>
        <div class="button-03-s4">
            <div class="div2">동행구하기</div>
        </div>

        <div class="button-03-s5">
            <div class="div2"><a data-th-href="@{/users}">마이페이지인데 임시회원관리</a></div>
        </div>

        <!-- 모달 구조 -->
        <div class="modal" id="myModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modalContent">로딩 중...</div> <!-- 서버에서 가져온 페이지가 여기에 렌더링됨 -->
            </div>
        </div>
    </div>
</header>


</body>
</html>
