<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{header :: head}"></head>
<header data-th-replace="~{header :: #page-header}"></header>

<body>
<h1>게시글 조회</h1>

<!-- 게시글이 없을 경우 -->
<p th:if="${#objects.isEmpty(board)}">없는 게시글입니다.</p>

<!-- 게시글이 있을 경우 -->
<form th:if="${#objects.nonEmpty(board)}" th:action="@{/update}" method="post">
    번호: <input name="no" readonly type="text" th:value="${board.boardNo}"><br>
    제목: <input name="title" type="text" th:value="${board.boardTitle}"><br>
    내용: <textarea name="content" th:text="${board.boardContent}"></textarea><br>
    작성일: <input readonly type="text"
                th:value="${#dates.format(board.boardCreatedDate, 'yyyy-MM-dd')}"><br>
    작성자: <input readonly type="text" th:value="${board.writer.userNickname}"><br>

    <button type="button" onclick="location.href='list'">목록</button>
    <button type="submit">변경</button>
</form>

</body>
</html>
