<!DOCTYPE html>

<html>
<head data-th-replace="~{header :: head}">
    <title>PMS</title>
</head>
<body>
<header data-th-replace="~{header :: #page-header}"></header>
<h1>일정 확정</h1>
<table border="1">
    <thead>
    <tr><th>여행지</th><th>여행일차</th><th>여행순서</th></tr>
    </thead>
    <tbody>
        <tr data-th-each="schdule : ${scheduleList}" >
            <td data-th-text="${schdule.location.locationName}">여행지1</td>
            <td data-th-text="${schdule.scheduleDay}">1일차</td>
            <td data-th-text="${schdule.scheduleRoute}">1번째</td>
        </tr>
    </tbody>
</table>

<form action="schedule/saveTrip" method="post">
    <button type="submit">저장하기</button>
</form>
</body>
</html>
