<!DOCTYPE html>

<html>
<head data-th-replace="~{header :: head}">
    <title>PMS</title>
</head>
<body>
<header data-th-replace="~{header :: #page-header}"></header>

<h1>여행일정만들기</h1>
<form action="schedule/createTrip" method="post">
    <input name="tripType" type="hidden" value="schedule/selectLocation"/>
    <button type="submit">일정생성</button>
</form>

<form action="schedule/createTrip" method="post">
    <input name="tripType" type="hidden" value="schedule/selectTripList"/>
    <button type="submit">일정가져오기</button>
</form>
<script>
    console.log("hihi");
</script>
</body>
</html>
