<!DOCTYPE html>

<html>
<head data-th-replace="~{header :: head}">
    <title>PMS</title>
</head>
<body>
<header data-th-replace="~{header :: #page-header}"></header>

<h1>여행일정만들기</h1>
<form action="createTrip" method="post" style="display:inline;">
    <input type="hidden" name="tripType" value="selectLocation" />
    <button type="submit">일정생성</button>
</form>

<form action="createTrip" method="post" style="display:inline;">
    <input type="hidden" name="tripType" value="selectTripList" />
    <button type="submit">일정가져오기</button>
</form>
</body>
</html>
