<!DOCTYPE html>

<html>
<head data-th-replace="~{header :: head}">
    <title>PMS</title>
</head>
<body>
<header data-th-replace="~{header :: #page-header}"></header>

<form action='save' method="post">
    제목: <input name='tripTitle' type='text'><br>
    테마: <select name="themaNo">
                <option value="">테마 선택</option>
                <option data-th-each="thema : ${themas}"
                        data-th-value="${thema.themaNo}"
                        data-th-text="${thema.themaName}">
                    맛집여행</option>
            </select>
    <button type="submit">저장</button>
</form>

</body>
</html>
