<!DOCTYPE html>

<html>
<head data-th-replace="~{header :: head}">
    <title>PMS</title>
</head>
<body>
<header data-th-replace="~{header :: #page-header}"></header>
<h1>시군구 선택</h1>
<form action="selectDate" method="post">
    <select name="cityCode">
        <option value="">시군구 선택</option>
        <option data-th-each="city : ${cityList}" data-th-object="${city}"
                data-th-value="*{cityCode}"
                data-th-text="*{cityName}">
            도시명</option>
    </select>
    <button type="submit">다음</button>
</form>

</body>
</html>
