<!DOCTYPE html>

<html>
<head data-th-replace="~{header :: head}">
    <title>PMS</title>
</head>
<body>
<header data-th-replace="~{header :: #page-header}"></header>
<h1>숙소 선택</h1>
    <form action="createSchedule" method="post">
    <ul>
        <c:forEach items="${hotelList}" var="hotel">
            <li><input name='hotelNos' value='${hotel.locationNo}' type='checkbox'>${hotel.locationName}</li>
        </c:forEach>
    </ul>

    <p>---내가추가한 숙소 </p>
    <ul>
        <c:forEach items="${myHotels}" var="hotel">
            <li><input checked name='hotelNos' value='${hotel.locationNo}' type='checkbox'> ${hotel.locationName}</li>
        </c:forEach>
    </ul>
    <button type="button" onclick="location.href='addHotel';">숙소추가하기</button>

    <button type="submit">다음</button>
    </form>
</body>
</html>
