<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.tripMaker.dao.BoardDao">

    <resultMap id="CompanionBoardMainResultMap" type="project.tripMaker.vo.Board">
        <id property="boardNo" column="board_no"/>                          <!-- 게시판 - 게시판번호 -->
        <result property="boardtypeNo" column="boardtype_no"/>              <!-- 게시판 - 게시판 유형번호 -->
        <result property="boardTitle" column="board_title"/>                <!-- 게시판 - 게시판 제목 -->
    </resultMap>


<!--    board_no as boardNo,-->
<!--    boardtype_no as boardtypeNo,-->
<!--    board_title as boardTitle,-->
<!--    board_count as boardCount,-->
<!--    board_created_date as boardCreatedDate,-->
<!--    user_no as userNo,-->
<!--    trip_no as tripNo,-->
<!--    board_content as boardContent,-->
<!--    board_tag as boardTag-->
    <!-- Get all board records -->


    <!-- 동행게시판 - 메인페이지 목록 -->
    <select id="mainList" resultMap="CompanionBoardMainResultMap">
        select
              board_no, board_title
        from
              board
        where
              boardtype_no=2
    </select>

    <select id="findBy" resultMap="CompanionBoardMainResultMap" parameterType="int">
        select
               b.board_no,
               b.board_title,
               b.board_content,
               b.board_count,
               b.board_created_date,
               b.user_no,
               b.trip_no,
               u.user_nickname
        from
               board b, user u
        where
               b.boardtype_no=2
               and
               b.board_no=#{boardNo}
               and
               b.user_no = u.user_no
    </select>
</mapper>
