<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.tripMaker.dao.ScheduleDao">
    <resultMap id="StateResultMap" type="project.tripMaker.vo.State">
        <id column="state_code" property="stateCode"/>
        <result column="state_name" property="stateName"/>
    </resultMap>

    <resultMap id="CityResultMap" type="project.tripMaker.vo.City">
        <id column="city_code" property="cityCode"/>
        <result column="state_code" property="stateCode"/>
        <result column="city_name" property="cityName"/>
        <result column="city_photo" property="cityPhoto"/>
    </resultMap>

    <resultMap id="LocationResultMap" type="project.tripMaker.vo.Location">
        <id column="location_no" property="locationNo"/>
        <result column="city_code" property="cityCode"/>
        <result column="thirdclass_code" property="thirdclassCode"/>
        <result column="location_name" property="locationName"/>
        <result column="location_desc" property="locationDesc"/>
        <result column="location_photo" property="locationPhoto"/>
        <result column="location_tel" property="locationTel"/>
        <result column="location_addr" property="locationAddr"/>
        <result column="location_x" property="locationX"/>
        <result column="location_y" property="locationY"/>
        <result column="locationclass_no" property="locationclassNo"/>
    </resultMap>

    <select id="stateList" resultMap="StateResultMap">
        select
            state_code,
            state_name
        from
            state
    </select>

    <select id="cityList" resultMap="CityResultMap">
        SELECT
            c.state_code,
            c.city_code,
            c.city_name,
            c.city_photo
        FROM
            city c
        right JOIN
            state s ON s.state_code = c.state_code
        where
            s.state_code=#{stateCode}
    </select>

    <select id="locationList" resultMap="LocationResultMap">
        SELECT
            l.location_no,
            l.city_code,
            l.thirdclass_code,
            l.location_name,
            l.location_desc,
            l.location_photo,
            l.location_tel,
            l.location_addr,
            l.location_x,
            l.location_y,
            l.locationclass_no
        from
            location l
                right outer join city c on l.city_code = c.city_code
                inner join thirdclass t on l.thirdclass_code = t.thirdclass_code
        where
            c.city_code=#{cityCode} and t.secondclass_code != "B0201";
    </select>

    <select id="hotelList" resultMap="LocationResultMap">
        SELECT
            l.location_no,
            l.city_code,
            l.thirdclass_code,
            l.location_name,
            l.location_desc,
            l.location_photo,
            l.location_tel,
            l.location_addr,
            l.location_x,
            l.location_y,
            l.locationclass_no
        from
            location l
        right outer join city c on l.city_code = c.city_code
        inner join thirdclass t on l.thirdclass_code = t.thirdclass_code
        where
            c.city_code=#{cityCode} and t.secondclass_code = "B0201";
    </select>

    <insert id="addSchedule" parameterType="schedule"
            useGeneratedKeys="true" keyColumn="schedule_no" keyProperty="scheduleNo">
        insert into schedule(location_no)
        values (#{locationNo})
    </insert>

    <select id="findLocation" resultMap="LocationResultMap" parameterType="int">
        select
            l.location_no,
            l.city_code,
            l.thirdclass_code,
            l.location_name,
            l.location_desc,
            l.location_photo,
            l.location_tel,
            l.location_addr,
            l.location_x,
            l.location_y,
            l.locationclass_no
        from
            location l
        where
            l.location_no = #{locationNo}
    </select>

</mapper>
